@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
h3 {
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c6c;
  margin-top: 16px;
  font-weight: normal;
}
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 0 32px;
  font-style: 16px;
  line-height: 48px;
  color: #0067f4;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
}

/* ==== Nav section start ==== */
.nav {
  position: fixed;
  display: flex;
  background-color: rgb(250, 251, 252);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 10000;
}

.nav .logo i {
  font-size: 70px;
  color: blue;
}

.nav .navber-toggler {
  display: none;
  border: none;
  outline: none;
}
.nav .navber-togoler {
  width: 27px;
  height: 3px;
  background-color: #121212;
  margin: 5px 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-in 0s;
}
.nav .menu-bar .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav .menu-bar .menu-items li {
  margin: 0 15px;
}
.nav .menu-bar .menu-items li a {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.nav .menu-bar .menu-items li a:hover {
  color: #4f47e4;
}
.nav .nave-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nave-social span {
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
  align-items: center;
}
.nav .nave-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nave-social ul li a {
  color: #6c6c6c;
  font-size: 25px;
}
.nav .nave-social ul li {
  margin: 0 7px;
}
.nav .nave-social ul li a:hover {
  color: blue;
}
/* ==== Nav section End ==== */

/* === Home section start === */
.back {
  background-image: url(./image/\(11\)bannergen1.png);
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.back .overlay {
  background: linear-gradient(
    0drg,
    rgba(159, 49, 41, 1) 0%,
    rgba(93, 49, 175, 1) 34%,
    rgba(196, 239, 247, 1) 81%
  );
  height: 100%;
  width: 100%;
}

.back .hero-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.back .hero-shape img {
  width: 100%;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text h6 {
  color: #1d1d1d;
}
.hero-text .header-btn {
  margin-top: 22px;
}
/* === Home section start === */
