@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
h3 {
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c6c;
  margin-top: 16px;
  font-weight: normal;
}

/* ==== Nav section start ==== */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
}

.nav .logo img {
  height: 150px;
  width: 200px;
}

.nav .navber-toggler {
  display: none;
  border: none;
  outline: none;
}
.nav .navber-togoler {
  width: 27px;
  height: 3px;
  background-color: #121212;
  margin: 5px 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-in 0s;
}


/* ==== Nav section End ==== */
